<p id="notice"><%= notice %></p>
<% if signed_in? %> <%= render 'form', tweet: @tweet %>
<br/>
<% end %>
<h2 class="display-4 my-3">Tweets</h2>
<div class="row row-cols-1 row-cols-xl-2"><%= render(@tweets) %></div>
<div class="my-3"><%= paginate @tweets %></div>
