/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.px-2{
  text-decoration: none;
}

body{
  margin: 0em;
}
.red-icon {
  color: red;
}

.card-tweet {
  box-shadow: 0 2px 2px 0 , 0 6px 20px 0 ;
  margin-top: 1rem;
}

.card-retweet {
  border-style: solid;
  border-width: 1px;
  margin-top: 1rem;
}

 .user-picture {
  height: 4rem;
  width: 4rem;
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  white-space: normal;
}
 

.tweet-header {
  white-space: normal;
  vertical-align: middle;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.tweets-header-outer {
  display: flex;
}

.tweet-header-left {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5rem;
}

.search-bar {
  margin-left: auto;
  display: inline-flex;
}

.tweet-buttons{
  float: right;
  text-decoration: none;
  white-space: normal;
}

.tweet-title {
  display: inline-block;
  margin-bottom: 0px;
}

.tweet-detail-li {
  display: inline-block;
}

.suggested-friends-top {
  margin-right: inherit;
  margin-left: inherit;
}

.suggested-friends {
  white-space: normal;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.tweet-unfriend-link {
  float: right;
}

